---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import hero from "../assets/About/Hand.png";
import { Image } from "astro:assets";
import Logs from "../assets/About/Logistics.png";
import Ops from "../assets/About/Operations.png";
import SandO from "../assets/About/Social_and_Outreach.png";
import Sponsor from "../assets/About/Sponsorship.png";
import Tech from "../assets/About/Technical.png";
import Vid from "../assets/About/Video.png";
---

<!doctype html>
<html lang="en" class="bg-black">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body class="text-white">
    <Header title={SITE_TITLE} />
    <main class="w-full bg-black">
      <div class="flex flex-col gap-20">
        <section>
          <h1
            style="width: 100%; 
            text-align: center; 
            border-bottom: 1px solid #1dd726; 
            line-height: 0.1em;
            margin: 10px 0 20px;
            color: #1dd726; "
          >
            <span
              style="padding: 0 10px; background:#000; color: #1dd726;"
              class="font-semibold">About Club</span
            >
          </h1>
          <section class="flex justify-between">
            <div class="w-2/3 pt-32 flex flex-col">
              <div>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                Adipisci alias ipsum fuga fugiat labore ducimus natus
                perferendis beatae, maxime reiciendis quos at molestias minus
                repudiandae accusantium quia. Reiciendis, provident nemo? Esse
                id repellendus repellat nisi, quisquam quam quia quaerat
                cupiditate similique fugit, dicta natus molestiae, velit fuga
                dolorem numquam aut.
              </div>
              <br />
              <div>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Dolorum, ipsam ducimus? Nemo quaerat iusto aut. Dolor incidunt
                voluptates quos tempore repellat cumque nisi laudantium cum
                soluta quas. Consectetur dolorum ipsum sequi dolore earum
                tempore animi hic similique voluptates magni, perspiciatis esse
                repudiandae obcaecati eveniet illo nisi laborum quod fugiat
                magnam recusandae voluptatum provident at tempora. Ipsam
                perspiciatis exercitationem, nemo quasi totam dolores aut hic
                dolore, sapiente alias placeat. Consequatur, provident!
              </div>
              <br />
              <div>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Accusamus, possimus.
              </div>
            </div>
            <div class="w-1/3 flex justify-center">
              <Image src={hero} alt="img" width={400} />
            </div>
          </section>
        </section>
        <section>
          <h1
            style="width: 100%; 
            text-align: center; 
            border-bottom: 1px solid #1dd726; 
            line-height: 0.1em;
            margin: 10px 0 20px;
            color: #1dd726; "
          >
            <span
              style="padding: 0 10px; background:#000; color: #1dd726;"
              class="font-semibold">Domain Info</span
            >
          </h1>
          <section class="grid grid-cols-4 w-full gap-5 mt-20">
            <div class="rounded shadow-lg border border-white">
              <div style="background: #E8FAE9;">
                <Image class="w-full" src={Logs} alt="img" />
              </div>
              <div
                class="text-xl flex justify-center"
                style="background: #E8FAE9"
              >
                <span
                  style="background: #104C2D; border-radius: 90px 90px 0 0; padding: 10px 30px;"
                  class="text-center text-3xl pt-2"
                >
                  1
                </span>
              </div>

              <div style="background-color: #104C2D;" class="p-4">
                <div class="font-bold text-xl text-center">Logistics</div>
                <p class="text-gray-300 text-base py-8">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatibus quia
                </p>
              </div>
            </div>
            <div class="rounded shadow-lg border border-white">
              <div style="background: #E8FAE9;">
                <Image class="w-full" src={Ops} alt="img" />
              </div>
              <div
                class="text-xl flex justify-center"
                style="background: #E8FAE9"
              >
                <span
                  style="background: #104C2D; border-radius: 90px 90px 0 0; padding: 10px 30px;"
                  class="text-center text-3xl pt-2"
                >
                  2
                </span>
              </div>

              <div style="background-color: #104C2D;" class="p-4">
                <div class="font-bold text-xl text-center">Operations</div>
                <p class="text-gray-300 text-base py-8">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatibus quia
                </p>
              </div>
            </div>
            <div class="rounded shadow-lg border border-white">
              <div style="background: #E8FAE9;">
                <Image class="w-full" src={SandO} alt="img" />
              </div>
              <div
                class="text-xl flex justify-center"
                style="background: #E8FAE9"
              >
                <span
                  style="background: #104C2D; border-radius: 90px 90px 0 0; padding: 10px 30px;"
                  class="text-center text-3xl pt-2"
                >
                  3
                </span>
              </div>

              <div style="background-color: #104C2D;" class="p-4">
                <div class="font-bold text-xl text-center">
                  Social and Outreach
                </div>
                <p class="text-gray-300 text-base py-8">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatibus quia
                </p>
              </div>
            </div>
            <div class="rounded shadow-lg border border-white">
              <div style="background: #E8FAE9;">
                <Image class="w-full" src={Sponsor} alt="img" />
              </div>
              <div
                class="text-xl flex justify-center"
                style="background: #E8FAE9"
              >
                <span
                  style="background: #104C2D; border-radius: 90px 90px 0 0; padding: 10px 30px;"
                  class="text-center text-3xl pt-2"
                >
                  4
                </span>
              </div>

              <div style="background-color: #104C2D;" class="p-4">
                <div class="font-bold text-xl text-center">Sponsership</div>
                <p class="text-gray-300 text-base py-8">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatibus quia
                </p>
              </div>
            </div>
            <div class="rounded shadow-lg border border-white">
              <div style="background: #E8FAE9;">
                <Image class="w-full" src={Tech} alt="img" />
              </div>
              <div
                class="text-xl flex justify-center"
                style="background: #E8FAE9"
              >
                <span
                  style="background: #104C2D; border-radius: 90px 90px 0 0; padding: 10px 30px;"
                  class="text-center text-3xl pt-2"
                >
                  5
                </span>
              </div>

              <div style="background-color: #104C2D;" class="p-4">
                <div class="font-bold text-xl text-center">Technical</div>
                <p class="text-gray-300 text-base py-8">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatibus quia
                </p>
              </div>
            </div>
            <div class="rounded shadow-lg border border-white">
              <div style="background: #E8FAE9;">
                <Image class="w-full" src={Vid} alt="img" />
              </div>
              <div
                class="text-xl flex justify-center"
                style="background: #E8FAE9"
              >
                <span
                  style="background: #104C2D; border-radius: 90px 90px 0 0; padding: 10px 30px;"
                  class="text-center text-3xl pt-2"
                >
                  6
                </span>
              </div>

              <div style="background-color: #104C2D;" class="p-4">
                <div class="font-bold text-xl text-center">
                  Videography and Editing
                </div>
                <p class="text-gray-300 text-base py-8">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                  Voluptatibus quia
                </p>
              </div>
            </div>
          </section>
        </section>
      </div>
      <Footer />
    </main>
  </body>
</html>
